/* ----- BIG SCREENS ----- */
@media only screen and ( min-width: 768px) { 

    html, body{
        margin: 0;
        padding: 0;
        /* background-color: grey; */
        background-color: rgb(33, 33, 33);
        /* color: white; */
    }

    :root {
        --dark-gold: #b5711e;
        --mild-dark-gold: rgb(184, 122, 48, 0.4);
        /* ---mild-dark-gold: #b87a30; */
        --light-gold: #f9b262;
        --mild-dark: rgb(53, 51, 51);

        --adobe-yellow-gold:#F0DE24;
        --adobe-gold-gold:#F0C524;
        --adobe-washed-gold:#F0C774;
        --adobe-light-gold:#F9B262;
        --adobe-dark-gold:#F0AC24;
        --adobe-brown-gold:#B5551F;

        --theme-blue:#69b8d4;
        --theme-blue-light:#7cc7e2;
        --theme-green:#4bf0a1;
        --theme-dark-green:#30b454;
    }

    button:hover {
        background-color: var(--adobe-gold-gold);
        color: black; 
    }

    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 45px;
        background-color: rgb(53, 51, 51); 
    }

    .nav-logo-container {
        flex: 1;
    }
    .nav-links-container {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 3rem;
    }

    .logo-img {
        width: 90px; 
        height: 90px; 
    }

    .nav-title-container {
        flex: 0 1 auto;
        text-align: center;
        font-size: 25px;
        text-shadow: 2px 2px black;
        text-decoration: underline;
    }

    .nav-title {
        color: var(--adobe-light-gold);
    }

   .nav-links {
       color: var(--light-gold);
       text-decoration: none;

       text-shadow: 1px var(--adobe-gold-gold);
       font-size: 35px;
       gap: 2.5rem;
       transition: font-size 0.3s;
   }

   .nav-container>a:visited {
       color: var(--adobe-light-gold);
       text-decoration: none;
   }

   .nav-links:hover {
       /* animation: hover-jump 1s 0s 1 normal linear; */
       animation-name: hover-jump;
       animation-duration: 1s;
       animation-delay: 0s;
       animation-iteration-count: infinite;
       animation-timing-function: ease-in-out;
       animation-direction: normal;
       color: var(--adobe-yellow-gold);

       font-size: 38px;
       /* gap: 2.5rem; */
   }

   @keyframes hover-jump {
       0% {
           transform: translateY(0)
       }

       50% {
           transform: translateY(-1px)
       }

       100% {
           transform: translateY(0)
       }
   }

    @keyframes hover-colorchange {
        /* Tiny glow effect */
        25% {color: var(--adobe-light-gold);}
        35% {color: var(--adobe-dark-gold);}
        50% {color: var(--adobe-light-gold);}
        75% {color: var(--adobe-dark-gold);}
        100% {color: var(--adobe-light-gold);}
    }

    .bank-header {
        display: flex;
        background-color: rgb(33, 33, 33);
        /* background-color: grey; */
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

    .bank-icon {
        width: 150px;
        height: 150px;
        padding: 10px 0 0 0;
    }

    .bank-card-container {
        display: flex;
        flex-direction: column;
        padding: 30px; 
        margin: 10px auto 50px auto;
        
        /* min-height: 400px;  */
        width: 550px; 
        background-color: var(--mild-dark);
        border-radius: 25px;
        /* box-shadow: 3.5px 2px 2px var(---mild-dark-gold); */
        box-shadow: 10px 5px 10px var(--mild-dark-gold);
    }

    .bank-card-container:hover {
        -webkit-box-shadow: 0px 0px 10px 3px #F9B262;
        -moz-box-shadow: 0px 0px 10px 3px #F9B262;
        box-shadow: 10px 5px 10px #F9B262;
    }

    .bank-card-container > * {
        color: whitesmoke;
    }

    .line-break {
        width: 450px;
    }

    .user-name {
        text-align: center;
        display: block;
        font-size: 40px;
        margin: 15px 0 10px 0;
        padding: 0;
    }

    .balance-container {
        display: flex;
        justify-content: space-around;
        /* font-size: x-large; */
        font-size: 30px;
        text-shadow: 0.5px 0.5px 10px var(--adobe-gold-gold);
    }

    .active-loan-container {
        display: flex;
        justify-content: space-around;
        font-size: x-large;
        font-size: 30px;
        text-shadow: 0 4px 10px  var(--adobe-brown-gold);
    }

    .get-loan-button {
        width: 250px;
        height: 60px;
        margin: auto;
        color: black;
        font-size: large;
        background-color: var(--adobe-light-gold);
        border-radius: 10px;
        cursor: pointer;
    }
    .get-loan-button:hover {
        -webkit-box-shadow: 0px 0px 5px 3px #F0AC24;
        -moz-box-shadow: 0px 0px 5px 3px #F0AC24;
        box-shadow: 0px 0px 5px 3px #F0AC24;
            

        /* width: 310px;
        height: 80px; */
    }

    #loan-input-container {
        display: none;
        /* display: flex; */
        position: absolute;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 20px;
        left: 40%;
        bottom: 20%;
        /* right: 35.5%; */
        /* width: 400px; */

        color: black;
        /* color: white; */
        font-weight: bold;
        
        /* background-color: var(--adobe-gold-gold); */
        background-color: var(  --adobe-light-gold);
        /* background-color: black; */
        border-radius: 25px;
        -webkit-box-shadow:0px 0px 5px 1px #F0AC24;
        -moz-box-shadow: 0px 0px 5px 1px #F0AC24;
        box-shadow: 0px 0px 5px 1px #F0AC24;
    }

    #loan-label {
        font-size: 35px;
        text-align: center;
        /* margin-bottom: 40px; */
    }
    #loan-input {
        /* text-align: center; */
        font-size: 35px;
        margin-bottom: 25px;
        width: 250px;
        height: 20px;
        padding: 15px;
        border-radius: 15px;
    }

    #loan-input-exit-button {
        align-self: flex-end;
        text-align: center;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        /* background-color: white; */
        /* background-color: var(--adobe-light-gold); */
        color: white;
        font-weight: bold;
        background-color: black;
        box-shadow: 0px 0px 4px 2px #050505;
        cursor: pointer;

    }
    #loan-input-button {
        width:  90px;
        height: 40px;
        border-radius: 15px;
        /* background-color: white; */
        background-color: var(--adobe-light-gold);
        box-shadow: 0px 0px 4px 2px #050505;
        cursor: pointer;
    }
    #loan-input-button:hover {
        -webkit-box-shadow: 0px 0px 5px 3px var(--adobe-dark-gold);
        -moz-box-shadow: 0px 0px 5px 3px var(--adobe-dark-gold);
        box-shadow: 0px 0px 5px 3px var(--adobe-dark-gold);

    }
}

/* ----- SMALL SCREENS ----- */
@media only screen and ( max-width: 767px ) {

    html, body{
        margin: 0;
        padding: 0;
        /* background-color: grey; */
        background-color: rgb(33, 33, 33);
        color: white;
    }

    :root {
        --dark-gold: #b5711e;
        ---mild-dark-gold: rgb(184, 122, 48, 0.4);
        --light-gold: #f9b262;
        --mild-dark: rgb(53, 51, 51);

        --adobe-yellow-gold:#F0DE24;
        --adobe-gold-gold:#F0C524;
        --adobe-washed-gold:#F0C774;
        --adobe-light-gold:#F9B262;
        --adobe-dark-gold:#F0AC24;
        --adobe-brown-gold:#B5551F;

        --theme-blue:#69b8d4;
        --theme-blue-light:#7cc7e2;
        --theme-green:#4bf0a1;
        --theme-dark-green:#30b454;
    }

    button:hover {
        background-color: var(--adobe-gold-gold);
        color: black; 
    }
    .nav-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
        background-color: rgb(53, 51, 51);
    }

    /* .logo-img-container, .nav-title-container, .nav-links-container {
        flex: none;
        width: 100svw; 
        text-align: center;
    } */


    .nav-links-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding-top: 20px;
    }
    .nav-title-container {
        display: none;
    }

    .logo-img {
        width: 80px;
        height: 80px;
    }

    /* .nav-title {
        color: var(--adobe-light-gold);
    } */

    .nav-links  {
        color: var(--light-gold);
        text-decoration: none;

        text-shadow: 1px var(--adobe-gold-gold);
        font-size: 35px;
        transition: font-size 1s;
    }

    .nav-container > a:visited {
        color: var(--adobe-light-gold);
        text-decoration: none;
    }

    .nav-links:hover {
        font-size: 25px;
        gap: 2.5rem;
    }

    .bank-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;

        background-color: rgb(33, 33, 33);
        padding: 15px 10px;
    }

    .bank-icon {
        width: 150px;
        height: 150px;
    }

    .bank-card-container {
        display: flex;
        flex-direction: column;

        height: 370px;
        width: 350px;

        padding-bottom: 10px;
        margin:  0 auto 0 auto;

        background-color: var(--mild-dark);
        border-radius: 25px;
        box-shadow: 10px 5px 5px var(---mild-dark-gold);
    }

        .line-break {
            width: 250px;
        }

    .user-name {
        text-align: center;
        display: block;
        font-size: 30px;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .balance-container {
        display: flex;
        justify-content: space-around;
        /* font-size: x-large; */
        font-size: 30px;
        /* color: black; */
        text-shadow: 0.5px 0.5px 3px var(--adobe-gold-gold);
        
    }

    .active-loan-container {
        display: flex;
        justify-content: space-around;
        /* font-size: x-large; */
        font-size: 30px;
        text-shadow: 0 4px 3px  var(--adobe-brown-gold);
    }
    .active-loan-container > * {
        margin: 0 0 0 0;
    }

    .get-loan-button {
        width: 250px;
        height: 60px;
        margin: auto;
        color: black;
        font-size: large;
        background-color: var(--adobe-light-gold);
        border-radius: 10px;
        cursor: pointer;
    }

    /* --------------------------------------- */

    #loan-input-container {
        display: none;
        /* display: flex; */
        position: absolute;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 20px;
        left: 10%;
        bottom: 20%;

        /* right: 35.5%; */
        /* width: 400px; */

        color: black;
        /* color: white; */
        font-weight: bold;

        /* background-color: var(--adobe-gold-gold); */
        background-color: var(--adobe-light-gold);
        /* background-color: black; */
        border-radius: 25px;
        -webkit-box-shadow: 0px 0px 5px 1px #F0AC24;
        -moz-box-shadow: 0px 0px 5px 1px #F0AC24;
        box-shadow: 0px 0px 5px 1px #F0AC24;
    }

    #loan-label {
        font-size: 25px;
        text-align: center;
        /* margin-bottom: 40px; */
    }

    #loan-input {
        /* text-align: center; */
        font-size: 35px;
        margin-bottom: 25px;
        width: 250px;
        height: 20px;
        padding: 15px;
        border-radius: 15px;
    }

    #loan-input-exit-button {
        align-self: flex-end;
        text-align: center;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        /* background-color: white; */
        /* background-color: var(--adobe-light-gold); */
        color: white;
        font-weight: bold;
        background-color: black;
        box-shadow: 0px 0px 4px 2px #050505;
        cursor: pointer;

    }

    #loan-input-button {
        width: 90px;
        height: 40px;
        border-radius: 15px;
        /* background-color: white; */
        background-color: var(--adobe-light-gold);
        box-shadow: 0px 0px 4px 2px #050505;
        cursor: pointer;
    }

    #loan-input-button:hover {
        -webkit-box-shadow: 0px 0px 5px 3px var(--adobe-dark-gold);
        -moz-box-shadow: 0px 0px 5px 3px var(--adobe-dark-gold);
        box-shadow: 0px 0px 5px 3px var(--adobe-dark-gold);

}
}